* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: inherit;
  color: inherit;
}

li {
  list-style-type: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
